@use "sass:math";
@use "@m2collective/scss-function-rem" as *;
@use "@m2collective/scss-function-round" as *;

$min-breakpoint: 480px !default;
$max-breakpoint: 1536px !default;
$unit: vw !default;

$remDefault: 16 !default;
$roundDecimals: 2 !default;

@function fluid(
  $min-value,
  $max-value,
  $min-breakpoint: $min-breakpoint,
  $max-breakpoint: $max-breakpoint,
  $unit: $unit
) {
  $slope: math.div($max-value - $min-value, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: $slope * 100;

  $intercept: round(rem($min-value - $slope * $min-breakpoint, $remDefault), $roundDecimals);
  $min-value: round(rem($min-value, $remDefault), $roundDecimals);
  $max-value: round(rem($max-value, $remDefault), $roundDecimals);

  @return clamp(#{$min-value}, #{$slope-to-unit}#{$unit} + #{$intercept}, #{$max-value});
}
